aiodns==1.1.1
aiohttp==2.3.1
async-timeout==2.0.0
cchardet==2.1.1
chardet==3.0.4
ed25519==1.4
gunicorn==19.7.1
iso8601==0.1.12
jsonschema==2.6.0
python-rapidjson==0.6.3
PyYAML==3.12
rethinkdb==2.3.0.post6
yarl==0.13.0
pytz
